body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 212, 182);
    color: rgb(99, 86, 50);
}


.header{
    display: flex;
    
} 

.logo{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 50px;
    
}

.header-links{
    display: flex;
    justify-content: space-between;
    padding: 40px;

} 