body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
    background-color: rgb(226, 212, 182);
    color: rgb(99, 86, 50);
}



.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 16px;
    
    
} 

.logo{
    display: flex;
    gap: 40px;
    font-size: 40px;
    width: 500px;
    font-weight:bolder;
    align-items: center;
    
 
}

.header-links{
     display: flex;
     justify-content: space-between;
     gap: 30px;
     font-size: 27px;
    
} 

ul{
    list-style-type:none;
    
}
a{
    text-decoration: none;
    color: rgb(99, 86, 50);
}

.content,.content2{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    margin: 250px;
    margin-top: 150px;
}


.section1{
    display: flex;
 
   
}

.left-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text1{
   
    font-size:60px ;
}

.text2{
    font-size: 40px;
    
}

.section1 img{
    border-radius: 3%;
}
.section1{
  gap: 70px;
}

button
{
    background-color:rgba(99, 86, 50, 0.767);;
    font-size:30px ;
    color:  rgb(226, 212, 182);
    border-radius: 10px;
    padding: 5px 20px;
    font-family: 'Times New Roman', Times, serif;
    border-color: rgba(236, 234, 231, 0)  ;
    
}

.bg-color{
    background-color: rgb(207, 191, 163);
}


.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events{
    display: flex;
    

}

.events img{
    width: 350px;
}























.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
   
    
}